/* body {
    margin: 0;
} */

ul.topbar {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    background-color: #292e34;
}

ul.topbar li {
    float: left;
    border-right:2px solid rgb(239,239,239);
}

ul.topbar li:last-child {
    float: right;
    border-right: none;
    border-left:2px solid rgb(239,239,239);
}

ul.topbar li a {
    display: block;
    color: rgb(239,239,239);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
}

ul.topbar li a.info {
    background-color:rgb(255, 174, 0);
    color: black;
    border-right:10px solid rgb(239,239,239);
}
/* 
Colors
bright rgb(255, 174, 0) 
darker rgb(227,166,36)
*/
ul.topbar li a:hover:not(.info) {
    background-color: rgb(255, 174, 0);
    color: black;
}

table {
    border: 1px solid #292e34;
}

tr:nth-child(even) {
    background-color: rgb(253, 255, 136);
}

thead {
    text-align: center;
    background-color: #292e34;
    color: rgb(239,239,239);
}

caption {
    font-weight: 700;
}

tr.linkRow {
    cursor: pointer;
}

tr.linkRow:hover {
    cursor: pointer;
    color: rgb(255, 174, 0);
}