<html>
    <head>
        {% load static %}
        {% load editTags %}
        <title>BDS Application</title>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <ul class = "topbar">
            <li><a class = "info">User management</a></li>
            <li><a href = "/">Home</a></li>
            <li><a href = "/logout">Log out</a></li>
        </ul><br><br>
        <form method="POST">{% csrf_token %}
            <input type="search" name="query" placeholder="enter user's name">
            <input type="submit" name="submit" value="Search">
        </form>
        <br>
        <table width='100%'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birthdate</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Faculties</th>
                    <th>Departments</th>
                    <th>Study programs</th>
                    <th>Subjects</th>
                    <th>Thesis</th>
                </tr>
            </thead>
            <tbody>
                {% for people_attrs in people %}
                    <tr onclick="document.location = '{% getUsrId people_attrs %}/editEntity';" class="linkRow">
                    {% for key, val in people_attrs.items %}
                        {% if key == 'person' %}
                            {% for attr, value in val.items %}
                                {% if attr != 'Passwd' and attr != 'Note' %}
                                <td>{{value}}</td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if key != 'person' and key != 'thesis' and key != 'addresses' and key != 'contacts' %}
                        <td>
                            {% for value in val %}
                            {{value}}<br>
                            {% endfor %}
                        </td>
                        {% endif %}

                        {% if key == 'thesis' %}
                        <td>{{val}}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
          
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>