<html>
    <head>
        {% load static %}
        <title>BDS Application</title>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <ul class="topbar">
            <li><a class = "info">Editing user</a></li>
            <li><a href = "/">Home</a></li>
            <li><a href = "/detailed">User management</a></li>
            <li><a href = "#passwordchange">Change password</a></li>
            <li><a href = "/logout">Log out</a></li>
        </ul><br>
        <form method="POST">{% csrf_token %}
            <input class="btn" type="submit" name="editEntity" value="Save">
        </form>
    </body>
</html>