<html>
    <head>
        {% load static %}
        {% load editTags %}
        <title>BDS Application</title>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <ul class="topbar">
            <li><a class = "info">Editing user</a></li>
            <li><a href = "/">Home</a></li>
            <li><a href = "/detailed">User management</a></li>
            <li><a href = "#passwordchange">Change password</a></li>
            <li><a href = "/logout">Log out</a></li>
        </ul><br>
        <div width=100%>
            <form method="POST">{% csrf_token %}
                <div style="display: flex; align-items: center; flex-direction: column;">
                    <input style="width: 80px; padding: 5px; font-weight: bolder;" type="submit" name="editEntity" value="Save">
                </div>
                <br>
                <table style="margin-left: auto; margin-right: auto; min-width: 40%;">
                    <caption>Personal information</caption>
                    <tbody>
                    {% for key, val in attrs.person.items %}
                        {% if key == 'Id' %}
                        <tr><th>{{key}}</th><td>{{val}}</td></tr>
                        {% endif %}
                        {% if key == 'Birthdate' %}
                        <tr><th>{{key}}</th><td><b>Old: </b>{{val}}<br><b>New: </b><input type="date" name="{{key}}" value="{{val}}"/></td></tr>
                        {% endif %}
                        {% if key == 'Email' %}
                        <tr><th>{{key}}</th><td><input style="width: 100%;" type="email" name="{{key}}" value="{{val}}"/></td></tr>
                        {% endif %}
                        {% if key != 'Passwd' and key != 'Id' and key != 'Birthdate' and key != 'Email'%}
                        <tr><th>{{key}}</th><td><input style="width: 100%;" type="text" name="{{key}}" value="{{val}}"/></td></tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <th>Addresses</th>
                        <td>
                        {% for val in attrs.addresses %}
                            <b>Type: </b><input style="width: 100%;" type="text" name="{{key}}" value="{{val.0}}"/>
                            <br>
                            <b>Address: </b><input style="width: 100%;" type="text" name="{{key}}" value="{{val.1}}"/>
                            <br>
                        {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <table style="margin-left: auto; margin-right: auto; min-width: 40%;">
                    <caption>Additional information</caption>
                    <tbody>
                        <tr>
                            <th>Roles</th>
                            <td>
                            {% getUsrRoles attrs as usrroles %}
                            {% for val in allRoles %}
                                {% if val in usrroles %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}" checked="checked">
                                    <label for='{{val}}'>{{val}}</label>
                                {% else %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}">
                                    <label for='{{val}}'>{{val}}</label>
                                {% endif %}
                                <br>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Faculties</th>
                            <td>
                            {% getUsrFacs attrs as usrfacs %}
                            {% for val in allFacs %}
                                {% if val in usrfacs %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}" checked="checked">
                                    <label for='{{val}}'>{{val}}</label>
                                {% else %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}">
                                    <label for='{{val}}'>{{val}}</label>
                                {% endif %}
                                <br>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Departments</th>
                            <td>
                            {% getUsrDeps attrs as usrdeps %}
                            {% for val in allDeps %}
                                {% if val in usrdeps %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}" checked="checked">
                                    <label for='{{val}}'>{{val}}</label>
                                {% else %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}">
                                    <label for='{{val}}'>{{val}}</label>
                                {% endif %}
                                <br>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Study programs</th>
                            <td>
                            {% getUsrProgs attrs as usrprogs %}
                            {% for val in allProgs %}
                                {% if val in usrprogs %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}" checked="checked">
                                    <label for='{{val}}'>{{val}}</label>
                                {% else %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}">
                                    <label for='{{val}}'>{{val}}</label>
                                {% endif %}
                                <br>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Subjects</th>
                            <td>
                            {% getUsrSubjs attrs as usrsubjs %}
                            {% for val in allSubjs %}
                                {% if val in usrsubjs %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}" checked="checked">
                                    <label for='{{val}}'>{{val}}</label>
                                {% else %}
                                    <input type="checkbox" id="{{val}}" name="{{val}}" value="{{val}}">
                                    <label for='{{val}}'>{{val}}</label>
                                {% endif %}
                                <br>
                            {% endfor %}
                            </td>
                        </tr>
                        <!-- <tr>
                            <th>Thesis</th>
                            <td><input style="width: 100%;" type="text" name="thesis" value="{{attrs.thesis}}"/></td>
                        </tr> -->
                    </tbody>
                </table>
                <br>
                <table style="margin-left: auto; margin-right: auto; min-width: 40%;">
                    <caption>Contact information</caption>
                    <!-- <thead>
                        <tr>
                            <th></th>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        {% for val in attrs.contacts %}
                        <tr>
                            <th>Contact</th>
                            <td>{{val.0}}</td>
                            <td>{{val.1}}</td><br>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </body>
</html>