<html>
    <head>
        {% load static %}
        <title>BDS Application</title>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <ul class="topbar">
            <li><a class = "info">Welcome, {{person.Name}}</a></li>
            <li><a href = "/detailed">Detailed view</a></li>
            <li>
                <form method="POST">{% csrf_token %}
                    <input type="search" name="query" placeholder="enter user's name">
                    <input type="submit" name="submit" value="Search">
                </form>
            </li>
            <li><a href = "/logout">Log out</a></li>
        </ul><br>
        <div width=100%>
            <div style="padding-left: 5%; padding-right: 20px;">
                <table width="40%">
                    <caption>Personal information</caption>
                    <tbody>
                    {% for key, val in person.items %}
                        {% if key != 'Passwd' and key != 'Email' and key != 'Note'%}
                        <tr><th>{{key}}</td><td>{{val}}</td></tr>
                        {% endif %}
                    {% endfor %}
                    {% for val in addresses %}
                        <tr><th>Address</td><td>{{val}}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>
            <div style="padding-left: 5%; padding-right: 20px;">
                <table width="40%">
                    <caption>Additional information</caption>
                    <tbody>
                    <tr><th>Note</th><td>{{Note}}</td></tr>
                    {% for val in roles %}
                        <tr><th>Role</td><td>{{val}}</td></tr>
                    {% endfor %}
                    {% for val in faculties %}
                        <tr><th>Faculty</td><td>{{val}}</td></tr>
                    {% endfor %}
                    {% for val in departments %}
                        <tr><th>Department</td><td>{{val}}</td></tr>
                    {% endfor %}
                    {% for val in programmes %}
                        <tr><th>Programme</td><td>{{val}}</td></tr>
                    {% endfor %}
                    {% for val in thesis %}
                        <tr><th>Thesis</td><td>{{val}}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>
            <div style="padding-left: 5%;  padding-right: 20px;">
                <table width="40%">
                    <caption>Contacts</caption>
                    <!-- <thead>
                        <tr>
                            <th></th>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        {% for val in contacts %}
                        <tr>
                            <th>Contact</th>
                            <td>{{val.0}}</td>
                            <td>{{val.1}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>