<html>
    <head>
        {% load static %}
        {% load editTags %}
        <title>BDS Application</title>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <ul class = "topbar">
            <li><a class = "info">SQL Injection</a></li>
            <li><a href = "/">Home</a></li>
            <li>
                <form method="POST" style="margin: 13px;">{% csrf_token %}
                    <input type="search" name="query" placeholder="Enter user's name">
                    <input type="submit" name="submit" value="Search">
                </form>
            </li>
            <li><a href = "/logout">Log out</a></li>
        </ul>
        <h4>Returns user emails based on their first name:</h4>
        <p>{{result}}</p>
    </body>
</html>